@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Welcome To my School Management Site</h3>
    <img class="rounded mx-auto d-block" src="images/asoee.jpg" alt="Οικονομικό Πανεπιστήμιο Αθηνών" width="700px" height="auto">
</div>
